HuronShop/serversettings.py
apps/*/migrations/
**/__pycache__/
*.log
*.pot
*.pyc
*.cpython-36.pyc
media
.idea
db.sqlite3
HuronShop/__pycache__/__init__.cpython-36.pyc
HuronShop/__pycache__/serversettings.cpython-36.pyc
HuronShop/__pycache__/__init__.cpython-36.pyc
HuronShop/__pycache__/serversettings.cpython-36.pyc
HuronShop/__pycache__/settings.cpython-36.pyc
HuronShop/__pycache__/urls.cpython-36.pyc
apps/clientes/__pycache__/admin.cpython-36.pyc
apps/clientes/__pycache__/__init__.cpython-36.pyc
apps/clientes/__pycache__/models.cpython-36.pyc
