.btn-cancel,
.btn-cancel:hover,
.btn-cancel:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
}
.glyphicon {
  font-size: 15px;
}
.form-group,
label.control-label {
  font-size: 16px !important;
}
.demo-card-wide.mdl-card {
  width: 512px !important;
}
.demo-card-wide > .mdl-card__title {
  color: #007da7 !important;
  height: 176px !important;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff !important;
}